@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;700&display=swap');
@import './normalize.css';
$color-gray-dark: #BDBDBD;
$color-gray-light: #F3F3F3;
$color-gray-text: #A3A3A3;

$color-blue: #4B51EF;
$border-radius-small: 5px;
$border-radius-big: 8px;
$button-height:24px;


.App {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #000;
    line-height: 14px;
}

button{
  display: inline-block;
  padding: 4px 14px;
  border: none ;
  cursor: pointer;
}
.edit{
  display: flex;
  flex-direction: column;
  position: relative;

  & input,textarea {
    display: block;
    border-radius: $border-radius-small;
    outline: none;
    border: 1px solid #D8D8D8;
    width: 211px;
    height: 22px;
    padding: 5px;
  }
  & textarea{
    resize: none;
    width: 100%;
    height: 55px;
  }
  & label{
    font-size: 8px;
  }
  &_container{
    border: 1px solid #F3F3F3;
    border-radius: $border-radius-big;
    padding: 20px 12px;
    margin-bottom: 10px;
  }
  & button{
    position: absolute;
    right: 0;

  }
  &_button{
      &_disabled{
        border-radius: $border-radius-small;
        color: #FFFFFF;
          background: #AFAFAF;
 background: #52CF4F;
          
      }
      &_enabled{
       background: #AFAFAF;
 background: #52CF4F;
      }
    
  }


}

.sidebar{
  &_container{
    background-color: $color-gray-dark;
    min-width: 152px;
    padding: 35px 3px 0 27px;


    & p{
      font-size: 12px;
    }
    & button{
      margin-top: 10px;
    }

  }
}

.button{
  
  border-radius: $border-radius-small;
  color: #FFFFFF;
  font-size: 14px;
  display: block;
  &_blue{
    background-color: $color-blue;
  }
  &_gray{
    background: #AFAFAF;
    cursor: auto;
  }
  &_green{
    background: #52CF4F;
  }
 
}

.main{
  width: 438px;
  height: 100vh;
  padding: 19px 31px;

  &_header{
    font-weight: 700;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button{
      height: 27px;
    }
  }
  &_card{
    width: 420px;
    height: 73px;
    background-color: $color-gray-light;
    margin-bottom: 14px;
    padding: 10px;
    border-radius: $border-radius-big;
    font-size: 11px;
    line-height: 13px;
    position: relative;
    & span{
      color: $color-gray-text;
      margin-right: 7px;
    }
    & p{
      margin: 7px;
    }
    & button{
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: unset;
      color: $color-blue;
      font-size: 12px;
      text-decoration: none;

    }
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #6ebeff;
  border-bottom-color: #337AB7;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50vh;
  z-index: 1;
  left: 50vw;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

:disabled{
  color:  rgba(0, 0, 0, 0.3);
  
}

:focus{
  outline: none;
}

input:invalid{
  border: 1px solid red
}

